String Based Assignment Problem

In [1]:
#Q1]
#creating a string
s = 'hello world'
#reversing the string using string slicing
s[::-1]

'dlrow olleh'

In [2]:
#Q2]
#creating a string
s = 'hello world'
#Checking the condition for palindrome usingxx if/else block
#the baisc palindrome condtion is being checked using equality operator(which returns true/false which depends on satisfying the given condition) and concept of slicing
if s==s[::-1]:
    print("Stirng is Palindrome")
else:
    print("String is not Palindrome")

String is not Palindrome

In [3]:
#Q3]
#creating a string
s = 'hello world'
#converting the string to upper case using inbuilt method
s.upper()

'HELLO WORLD'

In [4]:
#Q4]
#creating a string
s = 'hello world'
#converting the string to lower case using inbuilt method
s.lower()

'hello world'

In [5]:
#Q5]
#creating a string
s = "hello world"
#counting the vowels using inbuilt method count()
print(f"Vowels = {s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')}")

Vowels = 3

In [7]:
#Q6]
#creating a string
s = "hello world"
#counting the consonants using inbuilt method count()
print(f"Consonants = {len(s) - s.count('a')+s.count('e')+s.count('i')+s.count('o')+s.count('u')}")

Consonants = 14

In [15]:
#Q7]
#creating a string
s = "hello world"
#removing the white spaces from string using inbuilt method replace
print(s.replace(" ",""))
#method 2 using split and join method
print("".join(s.split()))

helloworld
helloworld

In [26]:
#Q8]
#creating a string s and counter c = 0
s = "hello world"
c = 0
#using for loop to iterate the string
for i in s:
    #calculating the len of string with each iteration
    c+=1
#printing the len using print function 
print(f"len of string = {c}")

len of string = 11

In [19]:
#Q9]
#creating a string
s = "hello world"
#checking for a specific word using .find() method. returns -1 if word not found
s.find('world')

6

In [16]:
#Q10]
#creating a string
s = "hello world"
#replacing hello with bye using inbuilt method replace
s.replace("hello","bye")

'bye world'

In [1]:
#Q11]
#creating a string
s = "hello world"
#counting the number of occurences of a word in an string using count() method
s.count('hello')

1

In [1]:
#Q12]
#creating a string
s = "hello world hello world hello world"
#using .find() method to find the first occurence of a word
s.find("hello")

0

In [3]:
#Q13]
#creating a string
s = "hello world hello world hello world"
#using .rfind() method to find the last occurence of a word
s.rfind('world')

30

In [4]:
#Q14]
#creating a string
s = "hello world hello world hello world"
#using .split method to split the string into list of words
s.split()

['hello', 'world', 'hello', 'world', 'hello', 'world']

In [8]:
#Q15]
#creating a list of words
l = ['hello', 'world', 'hello', 'world', 'hello', 'world']
#using .join() method to join the list of words into a string
"".join(l)

'helloworldhelloworldhelloworld'

In [13]:
#Q16]
#creating a string of words seprated by spaces
s = "hello world hello world hello world"
#to convert this to a string of words seprated by underscores, we are using .replace()
print(f'Method 1\n{s.replace(" ","_")}')
#if the spaces between words are uneven then using .split to make a list of words and then joining these words using .join() method to add underscores
s = "hello   world  hello  world hello world" 
print(f'Method 2\n{"_".join(s.split())}')

Method 1
hello_world_hello_world_hello_world
Method 2
hello_world_hello_world_hello_world

In [14]:
#Q17]
#Creating a string of sentence
s = "I am solving the python basic data types practice paper"
#using .startswith() method to check if the string starts with a particular word.Return True if S starts with the specified prefix, False otherwise.
s.startswith("I")

True

In [15]:
#Q18]
#Creating a string of sentence
s = "I am solving the python basic data types practice paper"
#using .endswith() method to check if the string ends with a particular word. Return True if S ends with the specified suffix, False otherwise.
s.endswith("paper")

True

In [16]:
#19]
#creating a string
s = "hello world"
#using .title() method to conver the string to title case
s.title()

'Hello World'

In [23]:
#20]
#Creating a string
s = "Writing python script to find longest or shortest word in a string"
#using .split() method to split the string to list of words
l = s.split()
#creating a variable to compare the length of each word in string.
c = l[0]
#using in membership operator to assign items of a list to i
for i in l:
    #comparing length of each word
    if len(i)>len(c):
        #updating the word if length is longer
        c = i
    #printing the longest word
print(f"Longest word = {c}")

Longest word = shortest

In [25]:
#21]
#Creating a string
s = "Writing python script to find longest or shortest word in a string"
#using .split() method to split the string to list of words
l = s.split()
#creating a variable to compare the length of each word in string.
c = l[0]
#using in membership operator to assign items of a list to i
for i in l:
    #comparing length of each word
    if len(i)<=len(c):
        #updating the word if length is shorter
        c = i
    #printing the shortest word
print(f"Shortest word = {c}")

Shortest word = a

In [26]:
#22]
#creating a string of words
s = "writing a python script to reverse the order of words" 
#using .split method to create a list of words
l = s.split()
#reversing the order of words using list comprehension and then joing it with spaces using .join() mehtod
" ".join(l[::-1])

'words of order the reverse to script python a writing'

In [2]:
#23]
#creating a string of words
s = "writing a python script" 
#using isalnum() method to check if the string is alphanumeric
print(s.isalnum())

False

In [16]:
#24]
#creating a string 
s = "12writing a 45python 0 script1" 
print(f"Sting : {s}")
#Method 1
#using for loop to iterate individual characters
print("Method 1")
for i in range(len(s)):
    #this is used for checking if it is a digit
    if s[i] in '0 1 2 3 4 5 6 7 8 9'.split():
        print(f"{s[i]}", end=" ")
#Method 2
#using for loop to iterate individual characters
print("\nMethod 2")
for i in range(len(s)):
    #this is used for checking if it is a digit
    if s[i].isdigit():
        print(f"{s[i]}",end=" ")

Sting : 12writing a 45python 0 script1
Method 1
1 2 4 5 0 1
Method 2
1 2 4 5 0 1

In [17]:
#25]
#creating a string 
s = "12writing a 45python 0 script1" 
#Method 1
#using for loop to iterate individual characters
for i in range(len(s)):
    #this is used for checking if it is an alphabet
    if s[i].isalpha():
        print(f"{s[i]}",end=" ")
#there are more ways to acheive the results, for ex- using ascii values we can seprate numbers.

w r i t i n g a p y t h o n s c r i p t

In [22]:
#26]
#creating a string
s = "This string ConTains UppeRCase WoRDS"
#using for loop to iterate individual characters and defining c counter =0
c=0
for i in range(len(s)):
     #this is used for checking if it is an Uppercase letter
    if s[i].isupper():
        c+=1
print(f"Uppercase Letter : {c}")
#there are more ways to acheive the results, for ex- using ascii values we can count uppercase characters.

Uppercase Letter : 10

In [24]:
#27]
#creating a string
s = "This string ConTains lowerCase WoRDS"
#using for loop to iterate individual characters and defining c counter =0
c=0
for i in range(len(s)):
     #this is used for checking if it is an lowercase letter
    if s[i].islower():
        c+=1
print(f"Uppercase Letter : {c}")
#there are more ways to acheive the results, for ex- using ascii values we can count lower characters.

Uppercase Letter : 24

In [25]:
#28]
#creating a string
s = "This string ConTains WoRDS"
#using this method to swap the case of string 
s.swapcase()
#this can be acheived using different methods. For ex- iterating the string, individually checking for uppercase and lower case characters, and swapping them

'tHIS STRING cONtAINS wOrds'

In [26]:
#29]
#creating a string
s = "This string ConTains WoRDS"
#removing a specific word by converting the string to list and using .remove() method
l = s.split()
l.remove('string')
#this is used to convert the string to list
" ".join(l)
#there are more methods to acheive this. By using replace we can do it

'This ConTains WoRDS'

In [34]:
#30]
#creating a string
s = "@.com"
l = s.split('@')
#checking for a valid email address
#an email address should consist @ and .com with domain name and username
if '@' in s and '.com' in s and len(l[1])>4 and len(l[0])>0:
    print("Valid email address")
else:
    print("Invalid email address")

Invalid email address

In [35]:
#31]
#creating an email address string
s = 'alpha23@gmail.com'
#creating a list of username and domain name
l = s.split('@')
#printing username
print(f'Username : {l[0]}')
#there are more methods to acheive this

Username : alpha23

In [36]:
#32]
#creating an email address string
s = 'alpha23@gmail.com'
#creating a list of username and domain name
l = s.split('@')
#printing the domain name
print(f'Username : {l[1]}')
#there are various methods to acheive this

Username : gmail.com

In [38]:
#33]
#creating a string with multiple spaces
s = 'Creating multiple  spaces  stirng '
#splitting th e string to list and then joing the list with individual space
print(" ".join(s.split()))

Creating multiple spaces stirng

In [6]:
#Q34]
url = input("Enter an URL")
common_tlds = [
    "com",
    "org",
    "net",
    "edu",
    "gov",
    "int",
    "mil",
    "us",
    "uk",
    "de",
    "fr",
    "jp",
    "au",
    "ca",
    "info",
    "biz",
    "name",
    "pro",
    "museum",
    "aero",
    "coop"
]
#checking for most common usl requirements such as . and https protocol
if '.' not in url and url.startswith(("http://", "https://"))==False:
    print("Invalid URL")
else:
    #finding TLD in the entered URL and checking for its validity
    url_split = url.split('/')
    url_tld = url_split[2].split('.')
    if url_tld[-1] in common_tlds :
        print("Valid Url")
    else:
        print("Invalid Url")

Enter an URL https://www.example.com/path/to/resource?param=value#section

Valid Url

In [8]:
#Q35]
#taking url form the user and spliting it 
url = input("Enter the url").split(':')
#we know tha the protocol is at the start of the list 
protocol_url = url[0]
print(f"Protocol : {protocol_url}")
https://www.example.com/path/to/resource?param=value#section

Enter the url https://www.example.com/path/to/resource?param=value#section

Protocol : https

In [12]:
#Q36]
#creating a string
string = "to find frequency of each character in a string"
#type casting it to set to find all the unique characters 
set_str = set(string)
#using for loop and .count() method to find the frequency of each character
for i in set_str:
    print(f"Frequency of {i} : {string.count(i)}")

Frequency of t : 3
Frequency of f : 3
Frequency of q : 1
Frequency of u : 1
Frequency of h : 2
Frequency of o : 2
Frequency of g : 1
Frequency of s : 1
Frequency of   : 8
Frequency of i : 3
Frequency of d : 1
Frequency of e : 4
Frequency of n : 4
Frequency of c : 4
Frequency of y : 1
Frequency of a : 4
Frequency of r : 4

In [22]:
#Q37]
#creating a string
str_punctuation_list = list("The punctuation, in this string, is, incorrect!... ")
clean_str_list = []
#using for loop, ascii characters and ord() function we are removing the punctuations
for i in str_punctuation:
    if ord(i) not in list(range(33,48)) and ord(i) not in list(range(58,65)) and ord(i) not in list(range(91,97)) and ord(i) not in list(range(123,127)):
        clean_str_list.append(i)
print("".join(clean_str_list))

The punctuation in this string is incorrect

In [25]:
#Q38]
#Creating a string
string = 'This is a string'
#checking if it contains only digits using .isdigit()  method
print(string.isdigit())

False

In [26]:
#Q39]
#Creating a string
string = 'This is a string'
#checking if it contains only alphabets using .isalpha() method
print(string.isalpha())

False

In [27]:
#Q40]
#Creating a string
string = 'This is a string'
#converted string to list of characters
print(list(string))

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [32]:
#Q41]
#creating two strings 
s1 = 'silent'
s2 = 'listen'
#sorting the strings to check if they are anagrams because if they are made up of same characters then after sorting both will be equal

if sorted(s1) == sorted(s2):
    print('They are anagrams')
else:
    print('They are not anagrams')

They are anagrams

In [58]:
#Q42]
#creating a string
string_list = "THE qUICK BROWN FOX JUMPS OVER THE LAZY DOG".split()
shift = int(input("Enter the shift"))
encrypted_list = []
#checking if the shift if positive
if shift>0:
    #iterating words
    for word in string_list:
        encrypted_word = ""
        #iterating characters
        for char in word:
            #checking if the shift is greater than 26.If it is greater than 26 then reducing it to original shift
            if shift>26:
                shift %= 26
            encrypted_chr = ord(char)+shift
            #if the ascii value is in this range then converting it to charater. else subtracting 26 and then converting it to character
            if 65<=encrypted_chr<=90 or 97<=encrypted_chr<=122:
                encrypted_word += chr(encrypted_chr)
            else:
                encrypted_chr -= 26
                encrypted_word += chr(encrypted_chr)
        encrypted_list.append(encrypted_word)
        #printing encrypter String
    print(f'Encoded String :\n{" ".join(encrypted_list)}')
        
else:
    print("Enter valid shift")

Enter the shift 1

Encoded String :
UIF rVJDL CSPXO GPY KVNQT PWFS UIF MBAZ EPH

In [60]:
#Q43]
#creating an ecoded string
string_list = 'UIF rVJDL CSPXO GPY KVNQT PWFS UIF MBAZ EPH'.split()
shift = int(input("Enter the shift"))
decrypted_list = []
if shift>0:
    #iterating words
    for word in string_list:
        decrypted_word = ""
        #iterating characters
        for char in word:
            #checking if the shift is greater than 26.If it is greater than 26 then reducing it to original shift
            if shift>26:
                shift %= 26
            decrypted_chr = ord(char)-shift
            #if the ascii value is in this range then converting it to charater. else subtracting 26 and then converting it to character
            if 65<=decrypted_chr<=90 or 97<=decrypted_chr<=122:
                decrypted_word += chr(decrypted_chr)
            else:
                decrypted_chr += 26
                decrypted_word += chr(decrypted_chr)
        decrypted_list.append(decrypted_word)
        #printing encrypter String
    print(f'Encoded String :\n{" ".join(decrypted_list)}')
        
else:
    print("Enter valid shift")

Enter the shift 1

Encoded String :
THE qUICK BROWN FOX JUMPS OVER THE LAZY DOG

In [40]:
#Q44]
#creating a string
string = 'to find the most frequent word in the string'
list_str = string.split()
unique_words = set(string.split())
most_frequent = string.split()[0]  

for word in unique_words:
    if list_str.count(word) > list_str.count(most_frequent):
        most_frequent = word

print("Most frequent word:", most_frequent)

Most frequent word: the

In [63]:
#Q45]
#creating a string of words
s = "Hello the hello here hello everywhere".split()
#to find all unique words converting it too set and traversing the set
print("Unique Words :")
for i in set(s) :
    print(i)

Unique Words :
hello
everywhere
the
here
Hello

In [3]:
#Q46]
#creating a string
s = 'hello world'.lower()
syllable_count = 0
# Iterate through each character in the string
for i in range(len(s)):
    #Check if the current character is a vowel and not preceded by another vowel
    if s[i] in 'a e i o u'.split() and (i==0 or s[i-1]) not in 'a e i o u'.split():
        syllable_count += 1
    # Adjust syllable count if a syllable is wrongly counted due to an 'e' at the end of a word
    if s[i] == " " and s[i-1].lower() == 'e':
        syllable_count -=1
# Ensure that the syllable count is at least 1
syllable_count = max(syllable_count,1)
print(f"Syllable Count : {syllable_count}")

Syllable Count : 3

In [5]:
#Q47]
#creating a string
string = 'cheking if string contains any special character @#?'
special_characters = [
    "!", "@", "#", "$", "%", "^", "&", "*", "(", ")", "-", "_", "+",
    "=", "{", "}", "[", "]", "|", "\\", ";", ":", "'", "\"", "<", ">",
    ",", ".", "/", "?", "`", "~"
]
#iteratring characters in string
for char in string:
    #checking for special characters
    if char in special_characters:
        print("String has special characters")
        break
#if for loop is executed successfully then no special characters found
else:
    print("String does not has any special characters")

String has special characters

In [4]:
#Q48]
#creating a string
string = "To remove nth word from the string"
print(f"Old String :\n{string}")
#taking the nth position inpur
word_position = int(input("Enter the nth word"))
string_list = string.split()
#checking if the wor_index is a valid length
if word_position in range(1,len(string_list)+1):
    #removing the element in the string
    string_list.pop(word_position-1)
    print(f'New String :\n{" ".join(string_list)}')
else:
    print("Enter valid position")

Old String :
To remove nth word from the string

Enter the nth word 2

New String :
To nth word from the string

In [7]:
#Q49]
#creating a string
string = 'To insert a word at nth position in string'
print(f"Old String :\n{string}")
word_position = int(input("Enter the position"))
string_list = string.split()
#checking is the position entered is valid or not
if word_position in range(1,len(string_list)+1):
    word = input("Enter the word you want to insert")
    #inserting the word
    string_list.insert(word_position-1,word)
    #converting it to string
    print(f"New String :\n{' '.join(string_list)}")
else:
    print("Enter valid position")

Old String :
To insert a word at nth position in string

Enter the position 1
Enter the word you want to insert Task

New String :
Task To insert a word at nth position in string

In [43]:
#Q50]
#creating a csv string
csv_string = """Name,Age,Country
John,30,USA
Alice,25,Canada
Bob,35,UK
"""
list_of_lists = []
#creating list of rows
rows_csv = csv_string.split('\n')
#iterating each row 
for row in rows_csv:
    #splitin
    list_of_lists.append(row.split(','))
print(f"List of lists :\n{list_of_lists}")

List of lists :
[['Name', 'Age', 'Country'], ['John', '30', 'USA'], ['Alice', '25', 'Canada'], ['Bob', '35', 'UK'], ['']]

List Based Practice Problem :

In [2]:
#Q1]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]

In [3]:
#Q2]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]
#To find the length of list l. we will define counter c to 0 and use for loop to increase the counter and find the length of the list l
c = 0
for i in l:
    c+=1
#printing the length of the list i.e c with help of f string 
print(f"length of list = {c}")

length of list = 10

In [4]:
#Q3]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]
#appending an element at the end of the list using .append method of list
l.append(0)

In [6]:
#Q4]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]
#inserting an element at a specific index in the list using .insert method of the list
l.insert(0,0)

In [9]:
#Q5]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]
#removing an element from the list by its value using .remove() method 
l.remove(10)

In [11]:
#Q6]
#creating a list of integers from 1 to 10 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10]
#removing an element from the list by its index using .pop() method . it returns the deleted element
l.pop(0)

1

In [36]:
#Q7]
#creating a list of integers 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10,10]
#Method 1
#using .index method to check if an elements exists in the list. It throws Value by error if the mentioned element is not present in the list. It returns the firts occurence index of the searched element
print(l.index(10))
#Method 2
#using 'in' membership operator we can scheck if the element is present in the list. If the expression returns true then the element exists , if it returns false the element doesnt exist
print(10 in l)
#Method 3
#using if-else block
if 10 in l:
    print("Element Exists")
else:
    print("Element Doesn't exists")

9
True
Element Exists

In [35]:
#Q8]
#creating a list of integers  
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10,10]
#using .index method to check if an elements exists in the list. It throws Value by error if the mentioned element is not present in the list. It returns the firts occurence index of the searched element
l.index(10)

9

In [34]:
#Q9]
#creating a list of integers 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10,10]
#using .count method to count the occurence of a particular element in the list
l.count(10)

2

In [31]:
#Q10]
#creating a list of integers 
#list is created with help of "[]" brackets.
l = [1,2,3,4,5,6,7,8,9,10,10]
#method 1 
#using list slicing to reverse the list. this temporarily reverses the list
print(l[::-1])
#method 2
#using .reverse() method to reverse the list. .reverse method permanently reverses the list
l.reverse()
#displaying l
l

[10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

[10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [30]:
#Q11]
#creating a list of integers 
#list is created with help of "[]" brackets.
l = [10,39,2,3249,43,5]
#using .sort() method to sort the list in ascending order
l.sort()
#displaying l
l

[2, 5, 10, 39, 43, 3249]

In [29]:
#Q12]
#creating a list of integers 
#list is created with help of "[]" brackets.
l = [10,39,2,3249,43,5]
#using .sort() method to sort the list in descending order
l.sort(reverse=True)
#displaying l
l

[3249, 43, 39, 10, 5, 2]

In [37]:
#Q13]
#Creating list of even numbers from 1-20
#method 1
l = [2,4,6,8,10,12,14,16,18,20]
print(f"Method 1 \n{l}")
#method 2 
#using list comprehension
l1 = [i for i in range(1,21) if i%2==0]
print(f"Method 2 \n{l1}")
#there are more methods to acheive this. For ex:- use of for loop and then appending the values in the list,etc

Method 1
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
Method 2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [39]:
#Q14]
#Creating list of odd numbers from 1-20
#method 1
l = [1,3,5,7,9,11,13,15,17,19]
print(f"Method 1 \n{l}")
#method 2 
#using list comprehension
l1 = [i for i in range(1,21) if i%2!=0]
print(f"Method 2 \n{l1}")
#there are more methods to acheive this. For ex:- use of for loop and then appending the values in the list,etc

Method 1
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
Method 2
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
#Q15]
#Creating list of numbers
#method 1
l = [2,4,6,8,10,12,14,16,18,20]
#using in built function sum() we can find the sum of all integers in a list
print(f"Method 1 \nsum = {sum(l)}")
#method 2
#we can use for loop to find the sum of elements in the list. Where variable s is used to calculate sum
s = 0
#using in membership operator the list items to i
for i in l:
    #calculating the sum 
    s+=i
print(f"Method 2 \nsum = {s}")
#there are more methods to calculate the sum of elements of list. for ex:- using lambda function with reduce,etc

Method 1
sum = 110
Method 2
sum = 110

In [48]:
#Q16]
#Creating list of numbers
#method 1
l = [2,4,6,8,10,12,14,16,18,20]
#using in built function max() we can find the sum of all integers in a list
print(f"Method 1 \nmaximum = {max(l)}")
#method 2
#we can use for loop to find the maximum element
#variable c is declared to compare and store the maximum element
c = l[0]
#using in membership operator the list items to i
for i in l:
    #comparing the values
    if i>c:
        #updating c
        c = i
print(f"Method 2 \nmaximum = {c}")
#there are more methods to find maximum integer in list. for ex:- using lambda function with filter,etc

Method 1
maximum = 20
Method 2
maximum = 20

In [49]:
#Q17]
#Creating list of numbers
#method 1
l = [2,4,6,8,10,12,14,16,18,20]
#using in built function min() we can find the sum of all integers in a list
print(f"Method 1 \nminimum = {min(l)}")
#method 2
#we can use for loop to find the minimum element
#variable c is declared to compare and store the maximum element
c = l[0]
#using in membership operator the list items to i
for i in l:
    #comparing the values
    if i<c:
        #updating c
        c = i
print(f"Method 2 \nminimum = {c}")
#there are more methods to minimum integer in list. for ex:- using lambda function with filter,etc

Method 1
minimum = 2
Method 2
minimum = 2

In [51]:
#Q18
#method 1
#using list comprehension to create a list of squares from 1-10
l = [i**2 for i in range(1,11)]
print(f"Method 1 \n{l}")
#method 2
#using for loop with in membership operator and range function 
#then appending the calculated squares in the list
#creating an empty list
l1 = []
for i in range(1,11):
    l1.append(i**2)
print(f"Method 2 \n{l1}")
#there are more methods to acheive this.For ex:- using lambda function with map,etc.

Method 1
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Method 2
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
#Q19]
#importing random, which will help us in creating a list of random numbers
import random
#creating an empty list
l = []
#iterating loop in a random range of (0,6)
for i in range(random.randint(0,6)):
    #list of random numbes is created
    l.append(random.randint(0,99))
#displaying list l
l

[77, 78, 37]

In [10]:
#Q20]
#creating a list of duplicates
l = [1,2,3,4,21,1,21,1,1,1,2,3,3,4,5]
#to remove the duplicates from the list we will type cast it to set and then back into list
print(list(set(l)))

[1, 2, 3, 4, 5, 21]

In [14]:
#Q21]
#creating two lists l1 & l2
l1 = [1,2,3,4,12,13,14]
l2 = [1,2,3,4,9,76,54,34]
#type casting the list to set and using method of set i.e. .intersection(). After finding the intersection we are typecasting it back to list
print(list(set(l1).intersection(set(l2))))
#we can also use for loop to acheive this.

[1, 2, 3, 4]

In [13]:
#Q22]
#creating two lists l1 & l2
l1 = [1,2,3,4,12,13,14]
l2 = [1,2,3,4,9,76,54,34]
#type casting the list to set and using method of set i.e. .difference(). After finding the difference we are typecasting it back to list
print(list(set(l1).difference(set(l2))))
#we can also use for loop to acheive this.

[12, 13, 14]

In [42]:
#Q23]
#creating two lists
l1 = [1,2,3,5]
l2 = [2,4,6,8,[1,2,[23]]]
#using concatination to merge two list
print(l1+l2)
#there are moere methods to acheive this. by usign .ectend we can acheive it

[1, 2, 3, 5, 2, 4, 6, 8, [1, 2, [23]]]

In [29]:
#Q24]
#creating a list
l1 = [1,2,3,5]
l = []
#multiplying all elements by 2
for i in range(len(l1)):
    #adding the new multiplied element
    l.append(l1[i]*2)
print(l)
#we can solve this by using list comprehension too

[2, 4, 6, 10]

In [30]:
#Q25]
#creating a list of numbers
l = [1,23,4,5,6,8,73]
l1 = []
#iterating over the elements
for i in l:
    #checking if the number is even
    if i%2==0:
        #appending the elements to new list
        l1.append(i)
print(f"List of Even numbers :\n{l1}")

List of Even numbers :
[4, 6, 8]

In [32]:
#Q26
#cerating a list of strings
l = ["1", "2", "3", "4", "5"]
l1 = []
#using loop to get individual elements
for i in l:
    #checking the type of i
    if type(i)==str:
        #type casting it to int and appending it
        l1.append(int(i))
print(f"List of Integers :\n{l1}")

List of Integers :
[1, 2, 3, 4, 5]

In [33]:
#27]
#creating a list of integers
l = [1, 2, 3, 4, 5]
l1 = []
#using loop to get individual elements
for i in l:
    #checking the type of i
    if type(i)==int:
        #type casting it to str and appending it
        l1.append(str(i))
print(f"List of String :\n{l1}")

List of String :
['1', '2', '3', '4', '5']

In [54]:
#28]
l = [1,2,4,5,[2,3,[4,5,8,[8,[1]],2],[2]]]
print((l))
l1 = []
s = [l]
#it will run till the list is exhausted
while s:
    #poping element to access it
    c = s.pop()
    #checking if it is a sub class of list using built in function
    if isinstance(c,list):
        #extending the list and will check again in further iterations
        s.extend(c)
    #appending it to flatten the nested list
    else:
        l1.append(c)
print(l1)

[1, 2, 4, 5, [2, 3, [4, 5, 8, [8, [1]], 2], [2]]]
[2, 2, 1, 8, 8, 5, 4, 3, 2, 5, 4, 2, 1]

In [58]:
#Q29]
a,b=0,1
print(f'Fibonacci Series of 10 numbers :\n{a} {b}',end=" ")
#using for loop to iterate 8 times
for i in range(8):
    #printing the sum of prev two numbers
    print(f"{a+b}",end=" ")
    #swapping the numbers
    a,b=b,a+b

Fibonacci Series of 10 numbers :
0 1 1 2 3 5 8 13 21 34

In [60]:
#Q30]
#creating a list
l =[1,2,0,9]
#checking if it is ssorted
if l == sorted(l):
    print("List is sorted")
else:
    print("List is unsorted")

List is unsorted

In [68]:
#Q31]
l = [1,2,4,5,6,7,8,9,10]
print(l)
n = int(input("Enter the position"))
#checking if the mentioned position is valid by checking  if the entered position is positive
if n>0:
    #rotating the list n times
    n%=len(l)
    l1 = []
    #using list slicing rotating the list to left by n-postions
    l1 = l[-n:]+l[:-n]
    print(l1)
else:
    print("invalid position")

[1, 2, 4, 5, 6, 7, 8, 9, 10]

Enter the position 2

[9, 10, 1, 2, 4, 5, 6, 7, 8]

In [69]:
#Q32]
l = [1,2,4,5,6,7,8,9,10]
print(l)
n = int(input("Enter the position"))
#checking if the mentioned position is valid by checking if the entered position is positive
if n>0:
    #rotating the list n times
    n%=len(l)
    l1 = []
    #using list slicing rotating the list to right by n-postions
    l1 = l[n:]+l[:n]
    print(l1)
else:
    print("invalid position")

[1, 2, 4, 5, 6, 7, 8, 9, 10]

Enter the position 2

[4, 5, 6, 7, 8, 9, 10, 1, 2]

In [74]:
#Q33]
l = []
i = 2
while len(l) != 50:
    c = 0  # Reset the count of factors for each number being tested
    #using this loop to generate prime numbers
    for j in range(1, i + 1):
        #checking for divisibility
        if i % j == 0:
            c += 1
    if c == 2:
        l.append(i)
    #iterating i
    i += 1
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229]

In [4]:
#Q34]
#creating a list l
l = [12,3,4,5,6,7,8,10]
print(l)
#taking the chunk size 'n' input form user
n = int(input("Enter the chunk size"))
if n<=len(l):
    for i in range(1,n):
        #poping the list in given chunk size
        print([l.pop()],end= " , ")
    print(l)
        
else:
    print("Enter valid chunk size")

[12, 3, 4, 5, 6, 7, 8, 10]

Enter the chunk size 2

[10] , [12, 3, 4, 5, 6, 7, 8]

In [11]:
#Q35]
#creating a list l
l = [12,3,4,5,6,7,8,10]
print(l)
#to find the max element we can sorte the list and display the second max
print(f"Second Max :\n{sorted(l)[-2]}")
#this output can be acheived using other methods too

[12, 3, 4, 5, 6, 7, 8, 10]
Second Max :
10

In [16]:
#Q36]
#creating a list l
list1=[1,2,3,4,5]
#using list comprehension to calculate the square
x=[i**2 for i in list1]
print(x)

[1, 4, 9, 16, 25]

In [19]:
#Q37]
#creating a list
l = ['a','b','c']
print(f'List :\n{l}')
dict_list = {}
#using for loop and concepts of dictionary

for i in range(len(l)):
    dict_list[l[i]] = i
print(f"Dictionary :\n{dict_list}")

List :
['a', 'b', 'c']
Dictionary :
{'a': 0, 'b': 1, 'c': 2}

In [20]:
#Q38]
#creating list l
import random
l = [1,2,3,4,5,6]
print(f'List :\n{l}')
#using.shuffle() method of random we can shuffle the list elements
random.shuffle(l)
print(l)

List :
[1, 2, 3, 4, 5, 6]
[3, 1, 6, 5, 2, 4]

In [25]:
#Q39]
factorial = 1
list_fact = [1]
#calculating factorial of first 10 numbers in a list
for element in range(1,10):
    factorial *= element
    list_fact += [factorial]
print(list_fact)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [22]:
#Q40]
#creating two lists
l1 = [1,2,3,4,5,1,2]
l2 = [1,2,3,4,5,6]
#
if set(l1).isdisjoint(set(l2)):
    print("No elements in common")
else:
    print("Has atleast one element in common")

Has atleast one element in common

In [27]:
#Q41]
#creating a list of elements
list1 = [1,2,3,'pwskills',3+5j,True,9.0]
print(f"List before removing elements :\n{list1}")
#using .clear() method to remove all the elements from the list
list1.clear()
print(f"List after removing the elements :\n{list1}")

List before removing elements :
[1, 2, 3, 'pwskills', (3+5j), True, 9.0]
List after removing the elements :
[]

In [29]:
#Q42]
#creating a liist of integers
list_int = [1,-2,3,-3,-100]
#using list comprehension to replace the negative numbers with zero
new_list = [0 if i<0 else i for i in list_int]
print(new_list)

[1, 0, 3, 0, 0]

In [33]:
#Q43]
#creating a string 
string = 'To convert string to list of words'
#converting string to list of words using .split() method
print(string.split())

['To', 'convert', 'string', 'to', 'list', 'of', 'words']

In [34]:
#Q44]
#creating a list of words
list_words = ['To', 'convert', 'list', 'of', 'words','to','string']
#using " ".join() method to convert list of words to string
print(" ".join(list_words))

To convert list of words to string

In [8]:
#Q45]
#creating s list of 'n' powers of 2 using list comprehension
n = int(input("Enter the 'n' power of 2"))
x = [2**i for i in range(1,n+1)]
print(f"'n' powers of 2 :\n{x}")

Enter the 'n' power of 2 4

'n' powers of 2 :
[2, 4, 8, 16]

In [15]:
#Q46]
#creating a list of string
list_words = ['Hello World.', 'How is everythin going']
#using built in max() function to find longest string in list of strings
print(f"Longest String :\n{max(list_words)}")
#there are different methods to acheive this

Longest String :
How is everythin going

In [24]:
#Q47]
n = int(input("Enter the nth number"))
triang_list = [] 
#iterating for n times to find n triangular numbers
for i in range(1,n+1):
    #calculating traingular number
    tn = (i*(i+1))//2
    triang_list.append(tn)
print(f"Series :\n{triang_list}")

Enter the nth number 5

Series :
[1, 3, 6, 10, 15]

In [ ]:
#creating a list of string
list_words = ['Hello World.', 'How is everythin going']
#using built in min() function to find longest string in list of strings
print(f"Shortest String :\n{min(list_words)}")
#there are different methods to acheive this

#creating a list of string
list_words = ['Hello World.', 'How is everythin going']
#using built in max() function to find longest string in list of strings
print(f"Longest String :\n{max(list_words)}")
#there are different methods to acheive this

#creating a list of string
list_words = ['Hello World.', 'How is everythin going']
#using built in max() function to find longest string in list of strings
print(f"Longest String :\n{max(list_words)}")
#there are different methods to acheive this

n = int(input("Enter the nth number"))
triang_list = [] 
#iterating for n times to find n triangular numbers
for i in range(1,n+1):
    #calculating traingular number
    tn = (i*(i+1))//2
    triang_list.append(tn)
print(f"Series :\n{triang_list}")

#creating s list of 'n' powers of 2 using list comprehension
n = int(input("Enter the 'n' power of 2"))
x = [2**i for i in range(1,n+1)]
print(f"'n' powers of 2 :\n{x}")

#creating a list of alternating 1s and 0s of length n using list comprehension and then type casting it to tuple
n = int(input("Enter the nth length"))
x = tuple([1 if i%2!=0 else 0 for i in range(n+1)])
print("Tuple of 1s and 0s :\n{x}")

In [ ]:
#Q48]
#creating s list of 'n' powers of 2 using list comprehension
n = int(input("Enter the 'n' power of 2"))
x = [2**i for i in range(1,n+1)]
print(f"'n' powers of 2 :\n{x}")

In [17]:
#Q49]
#creating a nested list
list_list = [1,2,[True,False]]
for data in list_list:
    if type(data) == list:
        print("List contains another list as a subsequence")
        break
else:
    print("List doesn't contains another list as a subsequence")

List contains another list as a subsequence

In [20]:
#Q50]
#creating a list
list_num = [1,2,3,4,5,6,7,8,9]
print(f"List before swapping :\n{list_num}")
index1,index2= int(input("Enter the index of element you want to swap")), int(input("Enter the index of element you want to swap"))
if index1 in range(-(len(list_num)-1),len(list_num)) and index2 in range(-(len(list_num)-1),len(list_num)):
    list_num[index1], list_num[index2] = list_num[index2], list_num[index1]
    print(f"List after Swapping :\n{list_num}")
else:
    print("Invalid Index")

List before swapping :
[1, 2, 3, 4, 5, 6, 7, 8, 9]

Enter the index of element you want to swap 0
Enter the index of element you want to swap -1

List after Swapping :
[9, 2, 3, 4, 5, 6, 7, 8, 1]

Tuple Based Practice Problem :

In [30]:
#Q1]
#creating a tuple with integers from 1 to 5
#tuple is created with help of "()" braces
t = (1,2,3,4,5)

In [31]:
#Q2]
#creating a tuple with integers from 1 to 5
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
t[2]

3

In [33]:
#Q3]
#creating a tuple with integers from 1 to 5
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#To find length of tuple without using len function we are creating a counter c = 0. 
#Iterating it inside for loop which will terminate when the tuple ends
c=0
for i in t:
    c+=1
#Printing the calculated length c using print() function and f string
print(f"Length of tuple = {c}")

Length of tuple = 5

In [34]:
#Q4]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,34,3,2,1,1,1,3,5,6,7,7,8)
#using .count() method to count the occuerence of an element
t.count(1)

4

In [37]:
#Q5]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,34,3,2,1,1,1,3,5,6,7,7,8)
#using .index() method to find the first occurence of an element in a tuple
t.index(7)

10

In [39]:
#Q6]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,34,3,2,1,1,1,3,5,6,7,7,8)
#Method 1
#Using in membership operator to check if the element is present in the tuple. If the expression returns True the element exists, if the expression returns False the element is not present in the tuple t
print(f"Element 10 exists in tuple?\n{10 in t}")
#Method 2
#Using if-else block
if 1 in t:
    print("Element 1 exists in the tuple t")
else: 
    print("Element 1 does not exist in the tuple t")

Element 10 exists in tuple?
False
Element 1 exists in the tuple t

In [73]:
#Q7]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,34,3,2,1,1,1,3,5,6,7,7,8)
#converting the tuple t to list using list() function
list(t)

[1, 34, 3, 2, 1, 1, 1, 3, 5, 6, 7, 7, 8]

In [57]:
#Q8]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#unpacking elements of a tuple
a,b,c,d,e = t

In [80]:
#Q10]
#creating a tuple of even integers from 1-10
#Method 1 
#assigning the values
t = (2,4,6,8,10)
print(f"Tuple t \n{t}")
#Method 2
#using list comprehension and converting it to tuple using tuple() function
t2 = tuple([i for i in range(1,11) if i%2==0])
print(f"Tuple t2 \n{t2}")
#There are more methods to create a tuple of even numbers. For ex:- type casting a list of even numbers, making use of for loop,etc.

Tuple t
(2, 4, 6, 8, 10)
Tuple t2
(2, 4, 6, 8, 10)

In [79]:
#Q11]
#creating a tuple of odd integers from 1-10
#Method 1 
#assigning the values
t = (1,3,5,7,9)
print(f"Tuple t \n{t}")
#Method 2
#using list comprehension and converting it to tuple using tuple() function
t2 = tuple([i for i in range(1,11) if i%2!=0])
print(f"Tuple t2 \n{t2}")
#There are more methods to create a tuple of odd numbers. For ex:- type casting a list of even numbers, making use of for loop,etc.

Tuple t
(1, 3, 5, 7, 9)
Tuple t2
(1, 3, 5, 7, 9)

In [16]:
#Q12]
#creating two tuples t1 & t2
t1 = (1,3,5,7,9) 
t2 = (10,12,14,16)
#concatenating tuples t1 & t2
#displaying it
t1+t2

(1, 3, 5, 7, 9, 10, 12, 14, 16)

In [18]:
#Q13]
#creating two tuples t1 & t2
t1 = (1,3,5,7,9) 
#to repeat a tuple 3 times we are multiplying t by 3
#displaying the output
t1 * 3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [19]:
#Q14]
#creating a tuple
t = (1,2)
#method 1
print(f"Method 1\nTuple is empty? {len(t) == 0}")
#method 2
print("Method 2")
if len(t) == 0:
    print("Tuple is Empty")
else:
    print("Tuple is not Empty")

Method 1
Tuple is empty? False
Method 2
Tuple is not Empty

In [21]:
#Q15]
#creating a nested tuple
t = (1,2,4,(1,5),[5,67],True,'hello')
#displaying the nested tuple
t

(1, 2, 4, (1, 5), [5, 67], True, 'hello')

In [23]:
#Q16]
#creating a nested tuple
t = (1,2,4,(1,5),[5,67],True,'hello')
#accessing first element of tuple
t[0]

1

In [28]:
#Q17]
#creating a tuple with single element
t = (1,)
#displaying the tuple
t

(1,)

In [31]:
#Q18
#creating two tuples t1 & t2
t1 = (1,2,3,5)
t2 = (1,2,4,6)
#comparing tuples t1 & t2 with help of operators
print(f"t1>t2? \n{t1>t2}")
print(f"t1<t2? \n{t1<t2}")
print(f"t1==t2? \n{t1==t2}")

t1>t2?
False
t1<t2?
True
t1==t2?
False

In [32]:
#Q19]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#deleting tuple t with help of del
del t

In [33]:
#Q20]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#Tuple slicing
print(f"Sliced tuple \n{t[:2]}")

Sliced tuple
(1, 2)

In [36]:
#Q21]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#method 1
print(f"Method 1 \nmaximum = {max(t)}")
#method 2
#with help of for loop and variable c to compare
c = t[0]
#for loop is used to iterate the tuple
for i in t:
    #comparing the values
    if i>c:
        #updating the value of c
        c = i
#printing max
print(f"Method 2 \nmaximum = {c}")

Method 1
maximum = 5
Method 2
maximum = 5

In [37]:
#Q22]
#creating a tuple of integers
#tuple is created with help of "()" braces
t = (1,2,3,4,5)
#method 1
print(f"Method 1 \nminimum = {min(t)}")
#method 2
#with help of for loop and variable c to compare
c = t[0]
#for loop is used to iterate the tuple
for i in t:
    #comparing the values
    if i<c:
        #updating the value of c
        c = i
#printing min
print(f"Method 2 \nminimum = {c}")

Method 1
minimum = 1
Method 2
minimum = 1

In [76]:
#Q23]
#creating a string 
s = "hello world!"
#type casting it to tuple of characters
print(tuple(s))

('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!')

In [79]:
#Q24]
#creating a tuple of characters
t = ('h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', '!')
#converting it to string
print("".join(t))

hello world!

In [81]:
#Q25]
#creating a tuple from multiple data types
t = ([1,2],3,4.5,True,'s',False,5+6j,{1,2},{'a':90})
print(t)

([1, 2], 3, 4.5, True, 's', False, (5+6j), {1, 2}, {'a': 90})

In [84]:
#Q26]
#creating two tuples
t1 = (1,2,3,5)
t2 = (1,2,3,5)
#comparing two tuples
if t1 == t2:
    print("Two tuples are identical")

Two tuples are identical

In [85]:
#Q27]
#creating unsorted tuple
t = (2,9,324,2,1,40,-2,0)
#sorting the tuple
print(sorted(t))

[-2, 0, 1, 2, 2, 9, 40, 324]

In [92]:
#Q28]
#creating a tuple of integers
t = (2,9,324,2,1,-2,40,0)
t1 = ()
for i in t:
    #converting it to tuple of string
    t1 += tuple(str(i))
print(t1)
#there are other ways to acheive this. for ex- using tuple comprehension

('2', '9', '3', '2', '4', '2', '1', '-', '2', '4', '0', '0')

In [96]:
#29]
#creating a tuple of string
t = ('2', '9', '3', '2', '4', '2', '1', '4', '0', '-2', '0')
t1 = ()
l = []
for i in t:
    #converting it to tuple of integers
    l.append(int(i))
print(tuple(l))
#there are other ways to acheive this. for ex- using tuple comprehension

(2, 9, 3, 2, 4, 2, 1, 4, 0, -2, 0)

In [97]:
#Q30]
#creating two tuples
t1 = (1,2,4)
t2 = (6,7,8)
#merging them
print(t1+t2)

(1, 2, 4, 6, 7, 8)

In [100]:
#Q31]
#creating a nested tuple
t = (1,2,3,4,(5,6,(3)))
l = [t]
f_t=[]
#will run till the list is exhausted
while l:
    #poping the ladt element of list
    c = l.pop()
    #extending the list if we find a tuple
    if isinstance(c,tuple):
        l.extend(c)
    #appending the element to a new list if it is not a tuple
    else:
        f_t.append(c)
#type casting the list to tuple
print(tuple(f_t))

(3, 6, 5, 4, 3, 2, 1)

In [101]:
#Q32]
l = []
i = 2
while len(l) != 5:
    c = 0  # Reset the count of factors for each number being tested
    #using this loop to generate prime numbers
    for j in range(1, i + 1):
        #checking for divisibility
        if i % j == 0:
            c += 1
    if c == 2:
        l.append(i)
    #iterating i
    i += 1
#type casting the list of prime numbers to tuple
print(tuple(l))

(2, 3, 5, 7, 11)

In [102]:
#Q33]
#creating a tuple
t = (1,2,1)
#checking for palindrome condition
if t == t[::-1]:
    print("Tuple is Palindrome")

Tuple is Palindrome

In [37]:
#Q34]
#creating a tuple of squares from 1-5
#we can acheive it using different methods
#using list comprehension and then typcasting it to tuple
print("Tuple of squares :\n",tuple([i**2 for i in range(1,6)]))

Tuple of squares :
 (1, 4, 9, 16, 25)

In [41]:
#Q35]
#creating a tuple of integers
tuple_num = (1,2,4,5,7,8)
#filtering out the even numbers using filter and lambda function
print(tuple(filter(lambda x:x%2==0,tuple_num)))
#this can be acheived using different methods

(2, 4, 8)

In [42]:
#Q36]
#creating a tuple of numbers
tuple_num = (1,2,4,5,7,8)
#mapping all the elements and using lambda function multiplying them by 2
print(tuple(map(lambda x:x*2 , tuple_num)))

(2, 4, 8, 10, 14, 16)

In [67]:

#Q37]
#creating a tuple of random numbers
import random
tuple_num = []
#iterating for a random range
for i in range(1,random.randint(1,10)):
    #appending randome elements to the list
    tuple_num.append(random.randint(1,99))
#type casting the list to tuple
print(tuple(tuple_num))

(81, 37, 27, 37, 76, 1)

In [71]:
#Q38]
#creating a tuple
tuple_num = (1,2,4,5,6,92,0,1)
#checking if the tuple is sorted
if sorted(tuple_num)==tuple_num:
    print("Tuple is sorted")
else:
    print("Tuple is not sorted")

Tuple is not sorted

In [74]:
#Q39]
tuple_num = (1,2,4,5,6,7,8,9,10)
print(l)
n = int(input("Enter the position"))
#checking if the mentioned position is valid by checking  if the entered position is positive
if n>0:
    #rotating the list n times
    n%=len(l)
    l1 = []
    #using list slicing rotating the list to left by n-postions
    l1 = tuple_num[-n:]+tuple_num[:-n]
    #type casting it to tuple
    print(tuple(l1))
else:
    print("invalid position")

(1, 2, 4, 5, 6, 7, 8, 9, 10)

Enter the position 2

(9, 10, 1, 2, 4, 5, 6, 7, 8)

In [75]:
#Q40]
tuple_num = (1,2,4,5,6,7,8,9,10)
print(l)
n = int(input("Enter the position"))
#checking if the mentioned position is valid by checking if the entered position is positive
if n>0:
    #rotating the list n times
    n%=len(l)
    l1 = []
    #using list slicing rotating the list to right by n-postions
    l1 = tuple_num[n:]+tuple_num[:n]
    #type casting it to tuple
    print(tuple(l1))
else:
    print("invalid position")

(1, 2, 4, 5, 6, 7, 8, 9, 10)

Enter the position 2

(4, 5, 6, 7, 8, 9, 10, 1, 2)

In [ ]:
#Q41]
a,b=0,1
list_tup=[0,1]
for i in range(2,5):
    c=a+b
    a=b
    b=i
    list_tup.append(c)
print(tuple(list_tup))

In [79]:
#Q42]
#METHOD 1
#creating a tuple from user input
tuple1 = tuple(input("Enter the elements"))
print(f"Tuple1 :{tuple1}")
#METHOD 2
list_temp=[]
n=int(input('enter the limit'))
for i in range(n):
    element=input('Enter the element')
    list_temp.append(element)
tuple2=tuple(list_temp)
print(f"Tuple2 :{tuple2}")

Enter the elements 234

Tuple1 :('2', '3', '4')

enter the limit 2
Enter the element 1
Enter the element 2

Tuple2 :('1', '2')

In [89]:
#Q43]
#creating a tuple t
t = (1,2,3,4,5)
print(f"Tuple before Swapping :\n{t}")
n1,n2= int(input("enter the element you want to swap")), int(input("Enter the element you want to swap"))
if n1 in t and n2 in t :
    index_n1 = t.index(n1)
    index_n2 = t.index(n2)
    swap_tuple = list(t)
    swap_tuple[index_n1],swap_tuple[index_n2]=swap_tuple[index_n2],swap_tuple[index_n1]
    print(tuple(swap_tuple))
else:
    print('Enter valid elements')

Tuple before Swapping :
(1, 2, 3, 4, 5)

enter the element you want to swap 1
Enter the element you want to swap 5

(5, 2, 3, 4, 1)

In [80]:
#Q44]
#creating a tuple
tuple1=(9,8,2,3,45,6)
a=list(tuple1)
#reversing it permanently using .reverse() method 
a.reverse()
print(tuple(a))

(6, 45, 3, 2, 8, 9)

In [35]:
#Q45]
#creating s list of 'n' powers of 2 using list comprehension and then typ casting it to tuple
n = int(input("Enter the 'n' power of 2"))
x = tuple([2**i for i in range(1,n+1)])
print(f"'n' powers of 2 :\n{x}")

Enter the 'n' power of 2 5

'n' powers of 2 :
(2, 4, 8, 16, 32)

In [ ]:
#Q46]
#creating a tuple of string
list_words = ('Hello World.', 'How is everythin going')
#using built in max() function to find longest string in tuple of strings
print(f"Longest String :\n{max(tuple_words)}")
#there are different methods to acheive this

Longest String :
How is everythin going

In [34]:
#Q47]
#creating a tuple of string
tuple_words = ('Hello World.', 'How is everythin going')
#using built in min() function to find lest string in tuple of strings
print(f"Shortest String :\n{min(tuple_words)}")
#there are different methods to acheive this

Shortest String :
Hello World.

In [33]:
#Q48]
n = int(input("Enter the nth number"))
triang_list = [] 
#iterating for n times to find n triangular numbers
for i in range(1,n+1):
    #calculating traingular number
    tn = (i*(i+1))//2
    triang_list.append(tn)
#type casting it to tuple
print(f"Series :\n{tuple(triang_list)}")

Enter the nth number 5

Series :
(1, 3, 6, 10, 15)

In [39]:
#Q49]
#creating a tuple of tuples
tuple1 = (1,2,(True,False))
#iterating data in tuple1
for data in tuple1:
    #checking if type of data == tuple
    if type(data) == tuple:
        print("Tuple contains another tuple as a subsequence")
        break
else:
    print("Tuple contains another tuple as a subsequence")

Tuple contains another tuple as a subsequence

In [38]:
#Q50]
#creating a list of alternating 1s and 0s of length n using list comprehension and then type casting it to tuple
n = int(input("Enter the nth length"))
x = tuple([1 if i%2!=0 else 0 for i in range(1,n+1)])
print(f"Tuple of 1s and 0s :\n{x}")

Enter the nth length 5

Tuple of 1s and 0s :
(1, 0, 1, 0, 1)

Set Based Practice Problem :

In [60]:
#Q1]
#Creating a set of integers from 1 to 5
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#using set comprehension we can acheive the same
s1 = {i for i in range(1,6)}

In [65]:
#Q2]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#Using .add() method to add an element to the set
s.add(10)

In [71]:
#Q3]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#we can use .pop() method to delete an element at a specifed index. when the index isnt mentioned the first element is deleted. returns the deleted element
print(s.pop())
#we can also use .remove method to delete an element of set by mentioning the element as an argument
s.remove(2)
#displaying the set
s

1

{3, 4, 5}

In [72]:
#Q4]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#Method 1
#Using in membership operator to check if the element is present in the set. If the expression returns True the element exists, if the expression returns False the element is not present in the set s
print(f"Element 10 exists in set s?\n{10 in s}")
#Method 2
#Using if-else block
if 1 in s:
    print("Element 1 exists in the set s")
else: 
    print("Element 1 does not exist in the set s t")

Element 10 exists in set s?
False
Element 1 exists in the set s

In [74]:
#Q5
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#To find the length of set s. we will define counter c to 0 and use for loop to increase the counter and find the length of the set s
c = 0
for i in s:
    c+=1
#printing the length of the set i.e c with help of f string 
print(f"length of set = {c}")

length of set = 5

In [77]:
#Q6]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#using .clear() method to clear all the elements of the set
s.clear()
#printing the set after clearing all the elements from the set
print(s)

set()

In [78]:
#Q7]
#creating a set of even integers from 1-10
#Method 1 
#assigning the values
s = {2,4,6,8,10}
print(f"set s \n{s}")
#Method 2
#using list comprehension and converting it to tuple using tuple() function
s1 = {i for i in range(1,11) if i%2==0}
print(f"set s1 \n{s1}")
#There are more methods to create a set of even numbers. For ex:- type casting a list of even numbers, making use of for loop,etc.

set s
{2, 4, 6, 8, 10}
set s1
{2, 4, 6, 8, 10}

In [82]:
#Q8]
#creating a set of even integers from 1-10
#Method 1 
#assigning the values
s = {1,3,5,7,9}
print(f"set s \n{s}")
#Method 2
#using list comprehension and converting it to tuple using tuple() function
s1 = {i for i in range(1,11) if i%2!=0}
print(f"set s1 \n{s1}")
#There are more methods to create a set of even numbers. For ex:- type casting a list of odd numbers, making use of for loop,etc.

set s
{1, 3, 5, 7, 9}
set s1
{1, 3, 5, 7, 9}

In [83]:
#Q9]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {2,4,6,8,10}
s2 = {1,3,5,7,9}
#using .union() method to find the union between two sets. returns the union of elements that are present in either set
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [84]:
#Q10]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {1,2,3,5,7,9}
#using .intersction() method to find the intersection between two sets. returns the intersection of elements that are present in both set
s1.intersection(s2)

{1, 2}

In [86]:
#Q11]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {1,2,3,5,7,9}
#using .difference to find the difference between two sets. returns elements that are in s1 but not in s2
s1.difference(s2)

{4, 6, 8, 10}

In [39]:
#Q12]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {1,2}
#using .issubset to check is s1 is subset of s2
print(s2.issubset(s1))

True

In [40]:
#Q13
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {1,2}
#using .issuperset to check is s1 is superset of s2
print(s1.issuperset(s2))

True

In [41]:
#Q14]
#creating a list and type casting it to set using set() inbuilt function
s = set([12,34,325,5,6,7,7,3,4])
print(s)

{34, 3, 4, 5, 325, 6, 7, 12}

In [42]:
#15]
#creating a set and type casting it to list
l = list({34, 3, 4, 5, 325, 6, 7, 12})
print(l)

[34, 3, 4, 5, 325, 6, 7, 12]

In [50]:
#Q16]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
import random
s = {1,2,3,4,5}
#using .remove() method and importing random to delete a random element from the set
s.remove(random.randint(1,6))
print(s)

{1, 2, 4, 5}

In [52]:
#Q17]
#Creating a set of integers 
#Set is defined with help of '{}' braces. It has only unique elements
s = {1,2,3,4,5}
#using .pop() to pop element from the set
s.pop()

1

In [55]:
#Q18]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
#Method 1
s1 = {1,2,4,6,8,10}
s2 = {11,13}
if len(s1.intersection(s2)) == 0:
    print(f"Set {s1} and Set {s2} has no elements in common")
else:
    print(f"Set {s1} and Set {s2} has elements in common")
#Method 2
s1.isdisjoint(s2)

Set {1, 2, 4, 6, 8, 10} and Set {11, 13} has no elements in common

True

In [60]:
#19]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {11,13}
#using .symmetric_difference to find symmetric difference between two sets. Return the symmetric difference of two sets as a new set.
print(s1.symmetric_difference(s2))

{1, 2, 4, 6, 8, 10, 11, 13}

In [61]:
#20]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {11,13}
#using .update() to update the elements of s2 to s1
s1.update(s2)
print(s1)

{1, 2, 4, 6, 8, 10, 11, 13}

In [64]:
#21]
l = []
n = 2
#using while loop to get 5 prime numbers
#prime numbers are numbers that can only be completely divided by itself and 1. 
while len(l)!=5:
    #with help of counter c we are counting number of elements that can divide n
    c = 0
    #with help of for loop we are iterating to check whether a number is prime or not 
    for i in range(1,n+1):
        #using divisibilty test and counter to find prime numbers
        if n%i==0:
            c+=1
    #doing the divisibility test and appending the element
    if c == 2:
        l.append(n)
    #iterating n so that we get 5 prime numbers and while loop terminates, avoiding infinity loop
    n+=1
print(set(l))

{2, 3, 5, 7, 11}

In [58]:
#22]
#creating two set of integers
#Set is defined with help of '{}' braces. It has only unique elements
s1 = {1,2,4,6,8,10}
s2 = {1,2,4,6,8,10}
if s1 == s2:
    print(f"{s1} and {s2} are identical")
else:
    print(f"{s1} and {s2} are not identical")

{1, 2, 4, 6, 8, 10} and {1, 2, 4, 6, 8, 10} are identical

In [103]:
#Q23]
#creating a set
set_s = {1,2,4}
#creating a frozen set
frozen_set = frozenset(set_s)
print(frozen_set)

frozenset({1, 2, 4})

In [106]:
#Q24]
#creating two sets
set_1 = {1,12,3}
set_2 = {10,4,5}
#checking if the sets are disjoint using .disjoint() method
print(set_1.isdisjoint(set_2))

True

In [110]:
#Q25]
#creating an empty list
set_square = []
#using loop to iterate 1-5
for i in range(1,5):
    #adding the squared elements
    set_square.append(i**2)
print(set(set_square))

{16, 1, 4, 9}

In [114]:
#Q26]
#creating a set of numbers
set_num = {16, 1, 4, 9}
filtered_set = []
#using to iterate the elements of set
for i in set_num:
    #checking the condition for even numbers
    if i%2==0:
        continue
    filtered_set.append(i)
print(set(filtered_set))

{1, 9}

In [117]:
#Q27]
#creating a set of numbers
set_num = {1,2,4,5}
set_mul = set([])
#iterating the set_num
for i in set_num:
    #multiplying individual elements by 2
    set_mul.add(i*2)
print(set_mul)

{8, 2, 10, 4}

In [120]:
#Q28]
import random
set_random = set()
#using for loop to iterate for a random number of times
for i in range(random.randint(1,6)):
    #adding random numbers
    set_random.add(random.randint(1,99))
print(set_random)

{36, 38, 84, 86, 87, 93}

In [121]:
#Q29]
#creating a set
set_num = {36, 38, 84, 86, 87, 93}
#checking if the set is empty
if len(set_num)>0:
    print("Set is not Empty")
else:
    print("Empty Set")

Set is not Empty

In [135]:
#Q30]
#creating a nested set using frozenset
nested_set = set([frozenset({12,3,4}), frozenset({5,6,7})])
print(nested_set)

{frozenset({3, 12, 4}), frozenset({5, 6, 7})}

In [137]:
#Q31]
#creating a set
set_num = {36, 38, 84, 86, 87, 93}
#discarding an element drom the set using discard
set_num.discard(84)
print(set_num)

{36, 38, 86, 87, 93}

In [139]:
#Q32]
#creating 2 sets
set1 = {1,2,4}
set2 = {3,5,7}
#comparing the sets
if set1==set2:
    print("set1 & set2 are equal")
elif set1<set2:
    print("set1 is less than set2")
else:
    print("set2 is less than set1")

set2 is less than set1

In [140]:
#Q33]
#creating a string
s = 'set from string'
#typecasting it to set
print(set(s))

{'s', 'g', 'n', 'r', 'm', ' ', 't', 'o', 'f', 'e', 'i'}

In [91]:
#Q34]
#creating a set of string
set_str={'1','2','3','4','5'}
#converting it to set of integers using list comprehension
set_int=set([int(i) for i in set_str])
print(f"Set Int:{set_int}")

Set Int:{1, 2, 3, 4, 5}

In [92]:
#Q35]
#creating a set of integers
set_int={1,2,3,4,5}
#using list comprehension to acheive it
set_str=set([str(i) for i in set_int])
print(f"Set String:{set_str}")

Set String:{'5', '2', '1', '3', '4'}

In [94]:
#Q36]
#converting a tuple to set 
tuple_set=set((1,2,2,3,4,'hello'))
print(f"Set:{tuple_set}")

Set:{1, 2, 3, 4, 'hello'}

In [95]:
#Q37]
#creating a set from tuple
set_tup={1,2,3,'hello'}
print(f"Tuple :{tuple(set_tup)}")

Tuple :(1, 2, 3, 'hello')

In [96]:
#Q38]
#creating a set
set_max={1,2,2,98,10000}
#using max() function to find the maximum value in the set
print(f"Max:{max(set_max)}")

Max:10000

In [98]:
#Q39]
#creating a set
set_min={-10000,0,1,2,2,98,10000}
#using built in min() function to find minimum value in the set
print(f"Min:{min(set_min)}")

Min:-10000

In [99]:
#Q40]
#creating a set using set comprehensiontaking input from user
n=int(input("Enter the limit"))
set_input={input('Eneter the value') for i in range(0,n)}
print(f"Input Set:{set_input}")

Enter the limit 2
Eneter the value 9
Eneter the value 8

Input Set:{'9', '8'}

In [100]:
#Q41]
#creating two sets 
set1={1,2,3,4}
set2={5,6,7,8}
#checking if their intersection is empty
if len(set1.intersection(set2))==0:
    print("Empty")

Empty

In [101]:
#42]
#genrating a list of fibonacci series
#typecasting the list to set
a,b=0,1
set_fib=[]
for i in range(10):
    set_fib.append(a)
    a,b=b,a+b
print(f"Fib Set:{set(set_fib)}")

Fib Set:{0, 1, 2, 3, 34, 5, 8, 13, 21}

In [102]:
#Q43]
#creating a list of duplicates
#type casting it to set to remove the duplicates
l=[1,2,1,2,1,2]
print(f"New list: {list(set(l))}")

New list: [1, 2]

In [104]:
#Q44]
#creating two sets 
s1 = {1,2,3,4,5,6}
s2 = {1,2,3,4,5,6,1,2,4,5,6}
#using for loop checking if sets have same elements regardless of their count
for element in s1:
    if element in s2:
        continue
    else:
        print("Dont have same elements")
        break
else:
    print("Have same elements")

Have same elements

In [106]:
#Q45]
#taking the value of n from user
n=int(input("Enter the n powers 2 of  you want to genrate"))
#using list comprehension genrating the first n powers of 2 and type casting it to set
print(set([2**i for i in range(n) ]))

Enter the n powers 2 of  you want to genrate 5

{1, 2, 4, 8, 16}

In [41]:
#Q46]
#creating a set and a list
list1 = [1,2,3,4,6]
set1 = {1,4,6,90}
#using .intersection method to find the common elements between them and iterating them using for loop to print it
print("Common Elements :")
for element in set1.intersection(list1):
    print(element)

Common Elements :
1
4
6

In [108]:
#Q47]
#taking n from the user
n=int(input("Enter the nth number"))
triang_set=set()
#generating n triangular numbers using the formula and for loop
for i in range(1,n+1):
    tn = (i*(i+1))//2
    triang_set.add(tn)
print(f"Series :{triang_set}")

Enter the nth number 3

Series :{1, 3, 6}

In [110]:
#Q48]
#creating two sets
s={1,2,3,4,5,6}
s1={1,2,3}
#checking if it is a subset using .issubset() method
print(s1.issubset(s))

True

In [120]:
#Q49]
#taking the limit n from user
n=int(input("Enter the nth value"))
print(set([1 if i%2!=0 else 0 for i in range(1,n+1)]))

Enter the nth value 2

{0, 1}

In [122]:
#Q50]
#creating three set of numbers
s1={1}
s2={2,3}
s3={4,5}
#finding their union using .union() method
print(s1.union(s2,s3))

{1, 2, 3, 4, 5}